// showing default values
// primary colors is change here at palette.styl as shown at the docs
// https://vuepress.vuejs.org/config/#styling
$accentColor = #008375
$textColor = #000000
$borderColor = #EEEEEE
$codeBgColor = #005249
$badgeTipColor = #5CD6C9
$badgeWarningColor = darken(#FFDAAD, 35%)
$badgeErrorColor = #EB5757